<header>
  {{#linkTo "home"}}Home{{/linkTo}}
  {{#linkTo "barcrafts"}}Barcrafts{{/linkTo}}
</header>

<div id="sidebar">
  {{outlet sidebar}}
</div>
<div id="content">
  {{outlet}}
</div>

<footer>
  <p>© Joe's Lamprey Shack - All Rights Reserved</p>
</footer>
